beautifulsoup4==4.12.3
chromadb==0.5.3
fastapi-slim==0.111.0
googlesearch-python==1.2.4
googletrans==2.4.0
html2text==2024.2.26
langchain==0.2.7
langchain-chroma==0.1.2
langchain-community==0.2.7
langdetect==1.0.9
langserve==0.2.2
langsmith==0.1.84
lxml==5.2.2
playwright==1.45.0
pydantic==1.10.17
python-dotenv==1.0.1
requests==2.32.3
sse-starlette==2.1.2
urllib3==1.26.19
uvicorn==0.23.2
